*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    height: 100%;
    background-color: black;
}
.container{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(https://picsum.photos/id/402/800/600) no-repeat;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    -moz-background-size: 100% 100% !important;      /* Firefox 3.6 */
    -webkit-background-size: 100% 100% !important;  /* Safari 3.0, Chrome */
    background-size: 100% 100% !important;      /* w3c, Firefox 4.0, ie9  */
    -o-background-size: 100% 100% !important;   /* Opera 9.5 */
}
h1{
    background: transparent;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 4px 10px orange;
    color: orange;
}
h2{
    color: orange;
    padding: 10px;
}
.wrapper {
    display: inline-flex;
}
.wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    color: orange;
    
}
.wrapper .icon a::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 90px;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    animation: animate 6s linear infinite;
    z-index: -1;
    top: -20px;
    left: 20px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.wrapper .icon a::after{
    content: "";
    position: absolute;
    inset: 2px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}
.wrapper .icon a {
    position: relative;
    height: 60px;
    width: 60px;
    display: block;
    background-color: transparent;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    text-decoration: none;
    color: orange;
}
.wrapper .icon a:hover{
    scale: 2;
    transition: all .3s ease-in-out; 
    
}
.wrapper .icon a i {
    font-size: 25px;
    line-height: 60px;
}
.galeria{
    width: 800px;
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: transparent;
    box-shadow: 5px 4px 10px orange;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.box img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    z-index: -10;
    opacity: 0.5;
}
.box img:hover{
    opacity: 1;
}
@media only screen and (max-width: 700px) {
    .container{
    width: 100%;
    height: auto;
    background-size: cover;
    }
   .galeria{
    padding: 10px;
    width: 500px;
    height: 900px;
    flex-direction: column;
    align-items: center;
   }
   .box{
    width: 300px;
    height: 250px;
    }
    .box img{
    object-fit: cover;
    width: 300px;
    height: 250px;
        
    }
  }

  